*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
      background-color: #F8F8F8;
    height: 100%;
    width: 100%;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main{
    padding-top: 0.1px;
    height: 100%;
    width: 100%;
    /* background-color: skyblue; */
    background-color: #F8F8F8;
    position: relative;

}
#nav{
    margin-top: 50px;
    height: 11.5vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16% ;
    font-size: 24px;
    font-weight: 500;
    border-right: 2px solid black;
}
#nav i{
    padding-left: 3% ;
    /* background-color: rgb(120, 9, 77); */
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 16% ;
    font-size: 30px;
    font-weight: 100;
    
}
#nav h1{
    /* background-color: violet; */
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: "Special Gothic Expanded One", sans-serif;
   font-weight: 800;
   font-style: normal;
   position: relative;
}
#nav h2:nth-last-of-type(1){
    /* background-color: rgb(26, 170, 76); */
    height: 100%;
    width: 22% ;
}
#center{
    width: 100%;
    height: 81.69%;
    /* background-color: red; */
    position: relative;
    padding : 3vw;
   
}
#content{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: gray;
     */
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#overlay{
    position: absolute;
    bottom: 0;
    /* background-color: blue; */
    height: 50%;
    width: 100%;
    padding:  0 2.5vw ;
    color: #F8F8F8;
    background-color: rgba(0, 0, 0, 0.085);
    backdrop-filter: blur(1px);
    
    
}
.over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.over1 h1{
    font-family: "Special Gothic Expanded One", sans-serif;
    letter-spacing: 1px;
    font-size: 3vw;
    
}
.over1 h2{
    padding: 2vw;
    /* background-color: aqua; */
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 2px solid white ;
   font-size: 1.5vw;
   font-weight: 100;
}
.over2 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white; 
    margin-top: 2vw;

}
.over2 h2{
    /* background-color: aqua; */
   font-size: 1.5vw;
   font-weight: 100;
}
#scroll{
    height: 30vh;
    width: 100%;
    /* background-color: blueviolet; */
    background-color: #F8F8F8;;  
    padding: 1vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.collect{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: inline-block;
    animation-name: anime;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.collect img{
    
    height: 100%;
    border-radius: 50%;
    width: 15vw;
    object-fit: cover;
    object-position: 30% 30%;
    /* display: none; */
    margin-right:0.9vw ;
}
@keyframes anime {
    to{
        transform: translateX(0);
    }
    from{
        transform: translateX(-100%);
    }
    
}
#alpha{
    
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 2vw;
}
#alpha h5{
    margin-right: 1vw;
    font-size: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 2px solid black;
    /* background-color: gray; */
}
#alpha h6{
    font-size: 1.2vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    padding: 0.6vw 0.8vw;
    /* background-color: blue; */
    border-radius: 50%;
    transition: all ease 0.1s;
}
#alpha h6:hover{
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.214);
    backdrop-filter: blur(2px);
    
    
    cursor: pointer;

}
#page2{
    height: 100%;
    width: 100%;
    padding: 5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: wheat; */
}
.part-1{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1500336624523-d727130c3328?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixclass=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; 
    
    background-position: center;


}
 .part-2 img{
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    object-position: center;

} 
.part-2{
    width: 46%;
    height: 100%;
   

}
.box{
    width: 100%;
    height:28% ;
    /* background-color: blue; */
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    
}
.box p{
    /* background-color: rgb(201, 92, 92); */
    height: 40%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    
}
.box h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    height: 100%;
    font-weight: 600;
    width: 33%;
    /* background-color: aqua; */
    
}
#page-3{
    padding: 3vw;
    
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}
#page-3>h1{
    /* background-color: aqua; */
    width: 100%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 3vw;
}
.elem{
    position: relative;
    border-top: 2px solid black;
    width: 100%;
    height: 8vw;
    padding: 2vw;
    /* background-color: navajowhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.elem h4{
    /* background-color: lightcoral; */
    width: 6%;
    font-size: 1.2vw;
    font-weight: 500;
}
.elem-2{
    /* background-color: green; */
    width: 50%;
}
.elem-2 h2{
    font-size: 3vw;
    font-weight: 100;

}
.elem-2 h5{
    font-size: 1vw;
    font-weight: 600;
    
}
.last
{
    border-bottom: 2px solid black;
}
.elem img{
    transition: all ease-in-out 0.8s;
    opacity: 0;
    position: absolute;
    height: 110px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    left: 20%;
}
.elem:hover img
{
    opacity: 1;
    
}
.elem:hover{
    background-color: #dddada;
}
footer{
    padding: 1vw;
    width: 100%;
    /* background-color: red; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}
footer::-webkit-scrollbar{
    display: none;
}
footer h1{
    display: inline-block;
    font-size: 3.5vw;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-style: normal;
    -webkit-text-stroke:2px black;
    color: transparent;
    animation-name: anime;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}

#nav h1::after
{
    content: "\00A9 ";
    font-size: 20px;
    position: absolute;
    top: 20%;
    right: 17%;
    font-family: sans-serif;
    

    
    

}
#nav h1::before
{
    content: "model management ";
    font-size: 15px;
    position: absolute;
    bottom: 4%;
    right: 20%;
    font-family: sans-serif;
    font-weight: 300;
    color: #666;

    
    

}
.blank{
    width: 100%;
    height: 30px;
}

